name: CD - render & push
on:
  push:
    branches: [main] 
  pull_request:
    branches: [main]
    types:
      - closed
jobs:
  deploy-render:
      runs-on: ubuntu-latest
      steps:
        - name: Trigger Render Deployment
          run: |
            # If curl returns an error, the job will fail, and we will learn about the issue
            curl -f -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
